.App {
  text-align: center;
}
body {
  background: #afd4c0;
}
.contentHolder {
  display: flex;
  justify-content: center;
}
.content {
  width: 75vw;
  background: white;
  height: 100vh;
}
.loginContent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Login {
  padding-top: 100px;
  width: 55vw;
}
.houserLogo {
  margin-bottom: 50px;
}
.Login h2 {
  font-size: 18px;
  text-align: left;
  padding: 0px;
  margin: 0;
}
.Login input {
  padding: 0;
  width: 55vw;
  height: 30px;
  border: 1px solid #afd4c0;
  margin-bottom: 20px;
}
button {
  width: 120px;
  height: 40px;
  margin: 20px;
  border: none;
  font-size: 12pt;
}
.loginBtn {
  background: #8aea92;
  color: black;
}
.registerBtn {
  background: #3b5249; 
  color: white;
}
.smHouse {
position: absolute;
left: 0;
}
.houserNav {
  display: flex;
  justify-content: center;
  background: #519872;
  width: 100vw;
  height: 75px;
  color: white;
  align-items: center;
}

.homeLogo {
  width: 40px;
  height: 40px;
  padding-right: 10px;
}
.addPropBtn {
  background: #8aea92;
  font-weight: 600;
  width: 25vw;
  height: 50px;
  font-size: 14pt;
}
